[submodule "dockerapim"]
	path = dockerapim
	url = https://github.com/falconmfm/dockerapim.git
[submodule "nubeapim"]
	path = nubeapim
	url = https://github.com/falconmfm/nubeapim.git
[submodule "dockerapimdas"]
	path = dockerapimdas
	url = https://github.com/falconmfm/dockerapimdas.git
